
header {
  color: white;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../imgs/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 110vh;
  h1 {
    font-size: 3em;
    margin-bottom: 2vh;
  }

  p {
    color: #E2E2E3;
    font-size: 1.5em;
    margin-bottom: 15vh;
  }
}

#logo_hero {
  margin-top: 10vh;
  margin-bottom: 7vh;
  width: 30vh;
  max-width: 200px;
}

.btn-lg {
  font-size: 1.5em;
  cursor: pointer;
  padding: 2% 12%;
  text-decoration: none;
  color: #fafafa;
  border: solid 4px #E31C0A;
  border-radius: 10px;
  transition: all .2s linear;
}

.btn-lg:hover {
  padding: 0 5.5%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    #logo_hero {
      margin-top: 15vh;
      max-width: 250px;
      width: 40vw;
    }
    
    h1 {
      font-size: 4em;
    }
    p {
      font-size: 1.5em;
      margin-bottom: 10vh;
    }
    .btn-lg {
      padding: 1% 5%;
      font-size: 1.5em;
    }
  }
}

//laptop & Desktops
@media only screen and (min-width: 1024px) {
  header {
    height: 110vh;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../imgs/hero.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    .landing {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: row;
      width: 70vw;
      max-width: 920px;
    }

    #logo_hero {
      padding: 10% 0;
      padding-right: 9%;
      margin-top: 6vh;
      max-width: 350px;
      width: 37%;
      border-right: double 5px #fafafa;
      box-shadow: 15px 0px 15px -15px #000000;
      transition: all .3s ease-in-out;
    }



    .header_content {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 10%;
    }

    h1 {
      text-shadow: 5px 5px 10px #000000;
      font-size: 3em;
      color: #fafafa;
    }

    p {
      margin: 2vw 0;
      margin-bottom: 4vw;
      text-shadow: 5px 5px 10px #000000;
      font-size: 1.5em;
      color: #E2E2E3;
    }

    .btn-lg {
      font-size: 1.5em;
      cursor: pointer;
      padding: 5% 10.5%;
      text-decoration: none;
      color: #fafafa;
      border: solid 4px #E31C0A;
      border-radius: 5px;
      transition: all .2s linear;
    }

    .btn-lg:hover {
      font-size: 1.8em;
      padding: 5% 10.5%;
    }
  }
}
