.skills {
  position: relative;
  z-index: -5;
  margin-top: 0;
  background: #0a98e3;
  background-size: cover;
  background-position: 63% 60%;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 7vh;
  padding-bottom: 5vh;
  h1 {
    color: #fafafa;
    margin: 5% 15vh;
    margin-top: -10vh;
    background-color: #0a98e3;
    box-shadow: -15px -5px 20px -20px #000, 15px -5px 20px -20px #000;
    padding: 2% 0;
    text-align: center;
    font-size: 45px;
  }

  img {
    background-color: #0a98e3;
    width: 40vw;
    padding: 5% 3% 5% 10%;
  }

  ul {
    margin: 5% 15%;
  }

  li {
    list-style-type: square;
  }

  span {
    padding: 5% 15%;
    background-color: #000000;
    margin-top: 5vh;
    color: white;
    font-size: 15vw;
    text-align: center;
  }

  p {
    color: #fafafa;
    padding-left: 5%;
  }

  h2 {
    color: #fafafa;
    font-size: 16px;
    margin: 5% auto;
    text-align: center;
  }

  h2:first-child {
    font-size: 20px;
    text-align: left;
  }

  .skills_content {
    -webkit-transtion: all .6s ease-in-out;
    transition: all .6s ease-in-out;
  }

  .card {
    color: #000;
    font-size: 16px;
    border: double 6px #fafafa;
    box-shadow: -10px 0px 10px -9px #000, 10px 0px 10px -9px #000;
    line-height: 2em;
    margin: 0 20px;
    margin-top: -12vh;
    margin-bottom: 5vh;
    text-align: justify;
    padding: 20% 7%;
    padding-bottom: 0;
    font-weight: lighter;
    h1 {
      text-align: center;
      font-size: 2em;
      padding-bottom: 10%;
    }

    ul {
      color: #fafafa;
      padding: 0 10%;
      line-height: 1.5em;
      text-align: left;
    }
  }

  #toolbox {
    display: none;
    margin-bottom: 5%;
  }
}

#right_head {
  width: 100vw;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .skills {
    margin-top: 7vh;
    background-size: cover;
    background-position: 63% 60%;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 5vh;
    h1 {
      color: #fafafa;
      margin: 0 30vw;
      margin-top: -12vh;
      box-shadow: -10px 0px 10px -9px #000, 10px 0px 10px -9px #000;
      padding: 2% 0;
      text-align: center;
      font-size: 45px;
    }

    img {
      width: 40vw;
      padding: 5% 3% 5% 10%;
    }

    ul {
      margin: 5% 15%;
    }

    li {
      list-style-type: square;
    }

    h2 {
      font-size: 8vw;
      margin: 5% auto;
      text-align: center;
    }

    .card {
      color: #fafafa;
      font-size: 18px;
      border: double 6px #fafafa;
      box-shadow: -10px 0px 10px -9px #000, 10px 0px 10px -9px #000;
      line-height: 2em;
      margin: 10% 15%;
      margin-top: -20vw;
      margin-bottom: 10vh;
      text-align: justify;
      padding: 20% 7%;
      padding-bottom: 10%;
      font-weight: lighter;
      h1 {
        text-align: center;
        font-size: 2em;
        padding-bottom: 10%;
      }

      ul {
        padding: 0 10%;
        line-height: 1.5em;
        text-align: left;
      }
    }


  }
  #right_head {
    width: 100vw;
  }
}

@media only screen and (min-width: 1024px) {
  .skills {
    position: relative;
    z-index: -5;
    margin-top: 0;
    background-size: cover;
    background-position: 63% 60%;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 5vh;
    h1 {
      color: #fafafa;
      margin: 0 30vw;
      margin-top: -13vh;
      box-shadow: -15px 0px 10px -15px #000, 15px 0px 10px -15px #000;
      padding: 2% 0;
      text-align: center;
      font-size: 45px;
    }

    .skills_content {
      border-top: double 6px #f4f6f9;
      border-bottom: double 6px #f4f6f9;
      margin: 10% auto;
      margin-top: 5%;
      margin-bottom: 10%;
      display: flex;
      flex-direction: row;
      width: 80vw;
      max-width: 920px;
      justify-content: center;
      align-items: center;
      transition: all .6s ease-in-out;
    }

    img {
      order: 1;
      max-width: 300px;
      width: 300%;
      padding: 0;
      padding-right: 5%;
    }

    ::i-block-chrome, img {
      width: 20%;
    }

    ul {
      margin: 5% 15%;
    }

    li {
      list-style-type: square;
    }

    h2 {
      font-size: 2.5em;
      margin: 5% auto;
      text-align: left;
    }

    .card {
      color: #fafafa;
      font-size: 16px;
      border: none;
      box-shadow: 0 0 0;
      line-height: 2em;
      margin: 0;
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
      padding: 5% 5%;
      padding-bottom: 2%;
      font-weight: lighter;
      h1 {
        color: #fafafa;
        text-align: center;
        font-size: 2em;
        padding-bottom: 10%;
      }

      h2 {
        font-size: 1.6em;
      }

      ul {
        color: #f4f6f9;
        padding: 0 10%;
        padding-left: 15%;
        line-height: 1.5em;
        text-align: left;
      }

      p {
        color: #f4f6f9;
        padding-left: 5%;
      }
    }
  }
}
